%table.table.table-striped
  %tr
    %th{colspan: 3}
      тип 1
    %th{colspan: 3}
      тип 2
  %tr
    %th
      Мощность
    %th
      Площадь
    %th
      Цена
    %th
      Мощность
    %th
      Площадь
    %th
      Цена
  - 1.upto(7) do |i|
    %tr
      %td
        = i * 100
        Вт
      %td
        = i * 50
        м
        %sup
          2
      %td
        = i * 200
        у.е.
      %td
        = i * 100
        Вт
      %td
        = i * 50
        м
        %sup
          2
      %td
        = i * 200
        у.е.


= will_paginate @boilers, renderer: BootstrapPagination::Rails
- @boilers.each do |boiler|
  .row-fluid
    .span8
      .title
        = boiler.title
    .span4.text-right
      %code
        = boiler.power
        КВт
      &nbsp;
      %code
        = boiler.amount_of_space
        м
        %sup
          2
      &nbsp;
      %code
        = boiler.price
        у.е.
  %br
  = raw boiler.preview
  %hr


= will_paginate @boilers, renderer: BootstrapPagination::Rails