- if @boiler.errors.any?
  - @boiler.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for([:admin, @boiler]) do |f|
  .field
    %label
      Название:
    %br
    = f.text_field :title
  .field
    %label
      Мощность(КВат)
    %br
    = f.number_field :power
  .field
    %label
      Обогреваемое пространство(м
      %sup
        2
      )
    %br
    = f.number_field :amount_of_space
  .field
    %label
      Цена
    %br
    = f.number_field :price
  .field
    %label
      Прев'ю
    %br
    = f.cktext_area :preview, :ckeditor => {:language => "ru"}
  .field
    %label
      Описание
    %br
    = f.cktext_area :body, :ckeditor => {:language => "ru"}

  .actions
    = f.submit

= content_for :assets do
  = javascript_include_tag 'ckeditor/init'