- if @boiler.errors.any?
  - @boiler.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for([:admin, @boiler]) do |f|
  .field
    %br
    = f.cktext_area :body, :ckeditor => {:language => "ru"}
  %br
  .actions.text-center
    = f.submit 'Сохранить изменения', class: 'btn btn-success'

= content_for :assets do
  = javascript_include_tag 'ckeditor/init'