!!!
%html
  %head
    %title
      Kotelok
  = stylesheet_link_tag "application", controller_path, :media => "all"
  = javascript_include_tag "application", controller_path
  = csrf_meta_tags
  = yield :assets
%body
  %br
  .row-fluid
    .span10.offset1.page-container
      .header
        .header-image
        .header-gradient
        .logo
        .logo-text
          KORAD
        .header-info
          .text
            %span.info-bold
              Изготовление котлов
              %br
              твердотопливных
            %span.info-bold
              Контакты:
            %br
            %span.info-bold
              тел.:
            = admin.phone
            %br
            %span.info-bold
              mail:
            admin.email

        -#.row-fluid
        -#  .span8{style: 'padding: 20px'}
        -#    = image_tag 'logo.png', style: 'height: 120px; float: left '
        -#
        -#    = image_tag 'kotel.png', style: 'height: 120px '
        -#  .span4.header-right
        -#    .header-right-1
        -#      Котли твердотопливні
        -#    .header-right-2
        -#      Виготовлення Ужгород
        -#    .header-right-3
        -#      095 1000 229
      .navbar
        .navbar-inner
          %ul.nav
            %li{class: "#{'active' if @tab == 'boilers'}"}
              = link_to 'Котлы', root_path
            %li{class: "#{'active' if @tab == 'spares'}"}
              = link_to 'Запчасти', spares_path
            %li{class: "#{'active' if @tab == 'docs'}"}
              = link_to 'Документация', documentations_path
      .row-fluid.page-content
        .span2.sidebar{style: 'height: 100%'}
          %ul.nav.nav-tabs.nav-stacked.non-print
            - if current_user
              %li
                = link_to 'Выход', destroy_user_session_path, method: :delete
              %li
                = link_to 'Профиль', edit_user_registration_path(current_user)
            - else
              %li
                = link_to 'Вход администратора', new_user_session_path
          - if current_user
            %ul.nav.nav-tabs.nav-stacked.non-print
              %li
                = link_to 'Котлы', admin_boilers_path
              %li
                = link_to 'Запчасти', admin_spares_path
              %li
                = link_to 'Руководства', admin_documentations_path
          %hr
            %i.icon-envelope
            %b
              = admin.email
            %br
            phone:
            %b
              = admin.phone
            %br
            address:
            %b
              = admin.address
        .span10.page
          .row-fluid
            - if flash[:error]
              .alert.alert-error
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:error]
            - elsif flash[:success]
              .alert.alert-success
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:success]
            - elsif flash[:notice]
              .alert.alert-notice
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:notice]
          = yield
