!!!
%html
  %head
    %title
      КОРАД
  = stylesheet_link_tag "application", controller_path, :media => "all"
  = javascript_include_tag "application", controller_path
  = csrf_meta_tags
  = yield :assets
%body
  %br
  .row-fluid
    .span10.offset1.page-container
      .header
        .header-image
        .header-gradient
        .logo
        .logo-text
          КОРАД
        .header-info
          .text
            %span.info-bold
              Изготовление котлов
              %br
              твердотопливных
            %br
            %br
            %span.info-bold
              Контакты:
            %br
            %span.info-bold
              тел.:
            = admin.phone
            %br
            %span.info-bold
              mail:
            = admin.email
      .menu
        %ul
          %li{class: "#{'active' if @tab == 'boilers'}"}
            = link_to 'Котлы', root_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'spares'}"}
            = link_to 'Запчасти', spares_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'docs'}"}
            = link_to 'Документация', documentations_path, class: 'info-bold'
      .page-content
        .sidebar
          - if current_user
            %br
            = link_to 'Выход', destroy_user_session_path, method: :delete, class: 'info-bold'
            %br
            = link_to 'Профиль', edit_user_registration_path(current_user), class: 'info-bold'
          - else
            = link_to 'Вход администратора', new_user_session_path, class: 'info-bold'
          - if current_user
            %br
            %br
            .info-bold.active
              Редактировать:
            %br
            = link_to 'Котлы', admin_boilers_path, class: 'info-bold'
            %br
            = link_to 'Запчасти', admin_spares_path, class: 'info-bold'
            %br
            = link_to 'Документация', admin_documentations_path, class: 'info-bold'
        .page
          - if flash[:error]
            .alert.alert-error
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:error]
          - elsif flash[:success]
            .alert.alert-success
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:success]
          - elsif flash[:notice]
            .alert.alert-success
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:notice]
          = yield
      .footer.text-center
        КОРАД. Все права защищены &copy; 2013.
