!!!
%html
  %head
    %title
      = yield(:title)
  = stylesheet_link_tag "application", controller_path, :media => "all"
  = javascript_include_tag "application", controller_path
  = csrf_meta_tags
  = yield :assets
  %meta{ name: 'keywords', content: meta_keywords }
  %meta{ name: 'description', content: meta_description }
  %meta{ name: "google-site-verification", content: "_qPI9RdaRnbkBM8JmsLLqQxYHFEJtHhVluCdyT63SCM" }


%body
  = render :partial => 'layouts/ga'
  %br
  .row-fluid
    .span10.offset1.page-container
      .header
        .header-image
        .header-gradient
        .logo
        .logo-text
          KORAD
          .devize
            тепло и уют в вашем доме!
        .header-info
          .text
            %span.info-bold
              Изготовление котлов
              %br
              твердотопливных
            %br
            %br
            %span
              %table
                %tr
                  %td{style: 'width: 23%; vertical-align: top;'}
                    %i.icon-phone
                  %td
                    = raw admin.phone

                %tr
                  %td{style: ' vertical-align: top;'}
                    %i.icon-envelope

      .menu
        %ul
          %li{class: "#{'active' if @tab == 'boilers'}"}
            = link_to 'Котлы', root_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'spares'}"}
            = link_to 'Запчасти', spares_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'docs'}"}
            = link_to 'Документация', documentations_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'price'}"}
            = link_to 'Цены', prices_path, class: 'info-bold'
          %li{class: "#{'active' if @tab == 'gallery'}"}
            = link_to 'Галерея', gallery_index_path, class: 'info-bold'
          .social-links
            %a{href: 'https://www.facebook.com/pages/Korad-%D0%A2%D0%B2%D0%B5%D1%80%D0%B4%D0%BE%D1%82%D0%BE%D0%BF%D0%BB%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5-%D0%BA%D0%BE%D1%82%D0%BB%D1%8B/217013971809614?ref=hl'}
              =image_tag('Facebook.png', :style=>'height:30px')
            %a{href: 'http://vk.com/koradkotlu'}
              =image_tag('vk_logo.png', :style=>'height:30px')
            %a{href: 'https://plus.google.com/u/0/b/111772461615397103430/111772461615397103430/posts'}
              =image_tag('google_icon.png', :style=>'height:30px')
      .page-content
        .sidebar
          - if current_user
            %br
            = link_to 'Выход', destroy_user_session_path, method: :delete, class: 'info-bold'
            %br
            = link_to 'Профиль', edit_user_registration_path(current_user), class: 'info-bold'
          - else
            = link_to 'Вход администратора', new_user_session_path, class: 'info-bold'
          - if current_user
            %br
            %br
            .info-bold.active
              Редактировать:
            %br
            = link_to 'Котлы', admin_boilers_path, class: 'info-bold'
            %br
            = link_to 'Запчасти', admin_spares_path, class: 'info-bold'
            %br
            = link_to 'Документация', admin_documentations_path, class: 'info-bold'
            %br
            = link_to 'Цены', admin_prices_path, class: 'info-bold'
            %br
            = link_to 'Галерея', admin_gimages_path, class: 'info-bold'
            %br
          %br
          - Gimage.where(id: Gimage.pluck(:id)).limit(2).each do |img|
            = image_tag img.file.url(:thumb), style: 'width: 100%'
            %br
            %br
        .page
          - if flash[:error]
            .alert.alert-error
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:error]
          - elsif flash[:success]
            .alert.alert-success
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:success]
          - elsif flash[:notice]
            .alert.alert-success
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:notice]
          = yield
      .footer.text-center
        KORAD. Все права защищены &copy; 2014.
