!!!
%html
  %head
    %title
      Kotelok
  = stylesheet_link_tag "application", controller_path, :media => "all"
  = javascript_include_tag "application", controller_path
  = csrf_meta_tags
  = yield :assets
%body
  .row-fluid
    .span10.offset1
      %br
      .navbar
        .navbar-inner
          %a.brand{ href: "#" }
            Boilers
          %ul.nav
            %li{class: "#{'active' if @tab == 'boilers'}"}
              = link_to 'Котлы', root_path
            %li{class: "#{'active' if @tab == 'spares'}"}
              = link_to 'Запчасти', spares_path
            %li{class: "#{'active' if @tab == 'docs'}"}
              = link_to 'Документация', documentations_path
      .row-fluid
        .span2
          %ul.nav.nav-tabs.nav-stacked.non-print
            - if current_user
              %li
                = link_to 'Выход', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Вход администратора', new_user_session_path
          - if current_user
            %ul.nav.nav-tabs.nav-stacked.non-print
              %li
                = link_to 'Boilers', admin_boilers_path
              %li
                = link_to 'Zapchasti', admin_spares_path
              %li
                = link_to 'Documentation', admin_documentations_path
          %hr
            email:
            %b
              sample@email.com
            %br
            phone:
            %b
              12345678
            %br
            billing address:
            %b
              Palo Alto 12
        .span10
          .row-fluid
            - if flash[:error]
              .alert.alert-error
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:error]
            - elsif flash[:success]
              .alert.alert-success
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:success]
            - elsif flash[:notice]
              .alert.alert-notice
                %button.close{type: :button, 'data-dismiss' => 'alert'}
                  &times;
                = flash[:notice]
          = yield
